{%extends "base_unauthorized.html"%}
{%load static%}


{%block title%}Askme{%endblock%}
{%block content%}
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title">Questions</h3>
            <div class="list-group list-group-flush">
                {% for question in question_list %}
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"><!--TODO-->
                        <div class="d-flex flex-column-reverse flex-md-row">
                            <div class="d-flex flex-column">
                                <img class="d-none d-md-block" src= "{{ question.author.profile.avatar.path }}" alt="Users avatar"/>
                                <h6 class="badge badge-info">Votes: NULL</h6> <!--TODO-->
                                <h6 class="badge badge-info">Answers: {{ get_answers_count }}</h6> <!--TODO-->
                                <h6 class="badge badge-info">Views: {{ question.views }}</h6>
                            </div>
                            <div class="d-flex flex-column pl-3">
                                <h5>{{ question.title }}</h5>
                                <p class="d-none d-md-block"> {{ question.text }}</p> <!--TODO-->
                                <div class="d-inline">
                                    <h6 class="badge badge-primary float-right">Asked by {{ question.author.username }}</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{%endblock%}
